/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

#begin{
    background: url('../img/begin.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


span{
    color: green;
    background: white;
    border-radius: 25px;
    font-size: 6em;
    position: absolute;
    top: 42.25vh;
    left: 25vw;
    text-align: center;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 20px;
    height: 80px;
    width: 200px;
}

h1{
    font-size: 6em;
    position: relative;
    top: 45vh;
    left: 0;
    color: white;
    text-align: center;
    font-weight: bold;
}

#beginbutton{
    color: green;
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    top: 50vh;
    left: 45vw;
    padding-left: 10px;
    cursor: pointer;
}

#beginbutton:hover{
    background-color:green;
    color:white;
}

.container{
    position: relative;
    top: -10px;
    left: 18vw;
    height: 430px;
}

.container2 video{
    position: relative;
    top: 28px;
    left: 3vw;
    width: 800px;
    height: 451px;
}

.container3 video{
    position: relative;
    top: 28px;
    left: 7vw;
    width: 800px;
    height: 451px;
}

video{
    width: 930px;
    height: 524px;
    border-radius: 50px;
}

.container-verduurzamen{
    position: relative;
    top: 15vh;
    left: 17vw;
    width: 750px;
    height: 430px;
}

.info{
    width: 500px;
    height: 340px;
    background: #FFFFFF;
    float: right;
    position: absolute;
    top: 22.85vh;
    right: 5vw;
    border-radius: 45px;
}

#papa{
    width: 156px;
    height: 458px;
    position: absolute;
    top: 22vh;
    right: 1vw;
}

#suus{
    width: 138px;
    height: 416px;
    position: absolute;
    top: 30vh;
    right: 1vw;
}

#simone{
    width: 138px;
    height: 430px;
    position: absolute;
    top: 26vh;
    right: 1vw;
}

#mama{
    width: 168px;
    height: 437px;
    position: absolute;
    top: 24vh;
    right: 1vw;
}

.s5 h2{
    font-size: 6em;
    width: 430px;
    font-weight: bold;
    line-height: 80px;
    position: absolute;
    top: 12vh;
    left: 34vw;
    text-align: center;
}

#keuze h2{
    font-size: 6em;
    width: 430px;
    font-weight: bold;
    line-height: 80px;
    position: absolute;
    top: 12vh;
    left: 34vw;
    text-align: center;
}

h2{
    font-size: 6em;
    font-weight: bold;
    line-height: 80px;
    position: absolute;
    top: 8vh;
    left: 18vw;
    text-align: center;
}

h5{
    font-size: 6em;
    font-weight: bold;
    line-height: 80px;
    position: absolute;
    top: 8vh;
    left: 26vw;
    text-align: center; 
}

h6{
    font-size: 1.5em;
    position: absolute;
    bottom: 3vh;
    left: 45vw;
    text-align: center; 
}

.info h3{
    font-size: 2em;
    width: 400px;
    padding-top: 74px;
    padding-left: 30px;
    line-height: 29px;
}

.pijltje1{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2.75vh;
    left: 42vw;
}

.pijltje2{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 2.75vh;
    left: 56.5vw;
}

#keuze{
    background: url('../img/keuzes@2x-100.jpg');
    background-size: 100%;
   background-repeat: no-repeat;
   height: 100vh;
}

nav{
    width: 450px;
    height: 50px;
    z-index: 3;
    background: white;
    position: fixed;
    bottom: 0;
    left: 35vw;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#bol1, #bol2, #bol3, #bol4{
    width: 30px;
    height: 30px;
    z-index: 4;
    border-radius: 50%;
    border: 2px solid grey;
    background: white;
    float: left; 
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#bol1-zon, #bol2-zon, #bol3-zon, #bol4-zon, #bol5-zon{
    width: 30px;
    height: 30px;
    z-index: 4;
    border-radius: 50%;
    border: 2px solid grey;
    background: white;
    float: left; 
    margin-right: 18px;
    margin-top: 10px;
    cursor: pointer;
}

#home-zon{
    width: 36px;
    height: 36px;
    float: left; 
    margin-right: 18px;
    margin-left: 25px;
    margin-top: 10px;
}

#rood-zon{
    width: 34px;
    height: 34px;
    z-index: 4;
    border-radius: 50%; 
    border: 2px solid grey;
    background:#FF8080;
    float: left; 
    margin-right: 18px;
    margin-top: 10px;
    cursor: pointer;
}

#groen-zon{
    width: 34px;
    height: 34px;
    z-index: 4;
    border-radius: 50%; 
    border: 2px solid grey;
    background:#92EE8B;
    float: left; 
    margin-right: 18px;
    margin-top: 10px;
    cursor: pointer;
}

#home img, #home-zon{
    z-index: 4;
}

#home{
    width: 36px;
    height: 36px;
    float: left; 
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 10px;
}

#rood{
    width: 34px;
    height: 34px;
    z-index: 4;
    border-radius: 50%; 
    border: 2px solid grey;
    background:#FF8080;
    float: left; 
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#groen{
    width: 34px;
    height: 34px;
    z-index: 4;
    border-radius: 50%; 
    border: 2px solid grey;
    background:#92EE8B;
    float: left; 
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#nietverduurzamen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 15px solid #FF8080;
    position: relative;
    top: 17vh;
    left: 60vw;
}

#verduurzamen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 15px solid #92EE8B;
    position: relative;
    top: 19vh;
    left: 14vw;
}

#verduurzamen img{
    margin-top: 18px;
}

#zonnepanelen{
    width: 20vw;
    height: 10vh;
    font-size: 3em;
    color: black;
    border: none;
    border-radius: 25px;
    position: relative;
    top: 60vh;
    left: 40vw;
    cursor: pointer;
}

#mestvergister{
    width: 20vw;
    height: 10vh;
    font-size: 3em;
    color: black;
    border: none;
    border-radius: 25px;
    position: relative;
    top: 60vh;
    left: 15vw;
    cursor: pointer;
}

.extra-info{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 3vh;
    right: 3vw;
    z-index: 3;
}

#info-zon {
    background: white;
    width: 781px;
    height: 600px;
    position: absolute;
    top: 3px;
    right: 72px;
}

p{
    font-size: 1.5em;
    line-height: 17px;
    padding:10px;
}

h4{
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
}

.s1, #zon1{
    background:#FFFFFF;
}

.s2, #zon2{
    background: #DFE7FF;
}

.s3, #zon3{
    background: #DFE7FF;
}

.s4, #zon4{
    background: #FFF7E9;
}

#zon4{
    background: #FFEDD2;
}

.s5{
background:#FFFFFF;
}

#zon5{
    background: #DFE7FF;
}

#zon1, #zon3, #mest1, #mest3{
    background:#DFE7FF;
}

#zon2, #mest2{
    background:#FFEDD2;
}

h3{
    font-size: 2em;
    width: 145px;
}

#bol1-zon .text, #bol2-zon .text, #bol3-zon .text, #bol4-zon .text, #bol5-zon .text {
    position:relative;
    bottom: 60px;
    left:0px;
    visibility:hidden;
}
    
#bol1-zon:hover .text, #bol2-zon:hover .text, #bol3-zon:hover .text, #bol4-zon:hover .text, #bol5-zon:hover .text {
    visibility:visible;
}

#bol1 .text, #bol2 .text, #bol3 .text, #bol4 .text, #bol5 .text {
    position:relative;
    bottom: 60px;
    left:0px;
    visibility:hidden;
}
    
        
#bol1:hover .text, #bol2:hover .text, #bol3:hover .text, #bol4:hover .text, #bol5:hover .text {
    visibility:visible;
}    


@media only screen and (min-width: 1080px) {
    
}